@import "tailwindcss";

:root {
  /* width: 1200px; */
  background-image: url(assets/images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* opacity: 0.9; */
  /* filter: opacity(0.9); */
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
} */